body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

nav{
    background-image: linear-gradient(red, white);
    height: 80px;
    
}

.container1{
    width: 85%;
    margin: 0px auto;
    display: flex;
}

.container2{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 54, 54);
    margin: 30px auto;
}

.container-product{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    height: 70px;
    padding: 3px 15px;
}

.col-1{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}


.nav-menu li{
    list-style: none;
    float: left;
    padding: 0px 50px;
    font-family: monospace;
    font-size: 20px;
}

.nav-menu li a{
    text-decoration: none;
    color: white;
}

.menu-dropdown{
    position: relative;
    display: inline;
}

.submenu-dropdown{
    display: none;
    background-color: rgb(255, 103, 103);
    position: absolute;
    width: 100%;
    padding: 30px;
}

.menu-dropdown:hover .submenu-dropdown{
    display: block;
}

header{
    background-color: rgb(255, 178, 178);
    height:450px;
    padding-top: 40px;
}

.header-banner{
    width: 600px;
    opacity: 0.75;
    border-radius: 20px;
}

header h1, h4{
    margin: 3px;
}

.subtitle{
    font-family: monospace;
    font-size: 40px;
    color: rgb(218, 68, 68);
    text-shadow: 5px 5px 10px rgb(255, 255, 255);
}

.maintitle{
    font-family: monospace;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
}

.subtext{
    font-family: 'lucida handwriting';
    font-size: 85px;
    color: orange;
    text-shadow: 5px 5px 5px white;
}

.heading-text{
    padding: 60px;
}

header img{
    width: 1200px;
}

.listcategory{
    padding:  20px 0px 40px 0px;
    background-color: rgb(255, 127, 127);
}

.category{
    background-color:   orangered;
    padding: 30px 50px;
    font-size: 30px;
    font-family: monospace;
    margin: 30px;
    border-radius: 40px 80px;
}

.icon1{
    font-size: 60px;
}

.latestproducts{
    background-color: rgb(255, 131, 131);
}

.box{
    width: 24%;
    background-color: white;
    margin: 40px;
}

.container2 h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    color: orange; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container2 p{
    text-align: center;
    color: white;
    margin-top: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}

.product{
    padding: 10px;
    border: solid 2px;
    border-radius: 60px 30px;
}

.product img{
    width: 80%;
    height: 350px;
    border-radius: 60px 30px;
    border: solid black 4px;
}

.latestproducts h3{
    padding: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
}

.latestproducts p{
    color: rgb(71, 156, 31);
    font-size: 25px;
    text-shadow: 4px 4px 3px black;
    padding-top: 40px;
}

.latestproducts a{
    text-decoration: none;
    background-color: rgb(224, 165, 37);
    padding: 20px;
    border-radius: 60px 30px;
    border: solid black 2px;
    color: black;
    text-shadow: none;
}

.container1 p{
    font-size: 24px;
    color: white;
    text-align: left;
}

.icon2{
    font-size: 36px;
}

footer{
    background-color: rgb(175, 0, 35);
    color: white;
}

table{
    width: 100%;
    padding: 20px;
}

input[type="text"], input[type="email"], input[type="password"], textarea{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

button{
    padding: 30px;
    margin: 30px;
    font-size: 30px;
    background-color: rgb(202, 32, 32);
    color: white;
    border: solid 6px rgb(104, 0, 0);
    border-radius: 20px;

}
