body{
    margin: 0px;
    background-color: bisque;
}

nav{
    background-image: linear-gradient(red, white);
    height: 80px;
    
}

.container1{
    width: 85%;
    margin: 0px auto;
    display: flex;
}