body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

nav{
    background-image: linear-gradient(red, white);
    height: 80px;
    
}

.container1{
    width: 85%;
    margin: 0px auto;
    display: flex;
}

.logo{
    height: 70px;
    padding: 3px 15px;
}

.col-1{
    flex: 1;
}

.col-2{
    flex: 2;

}

.nav-menu li{
    list-style: none;
    float: left;
    padding: 0px 50px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.menu-dropdown{
    position: relative;
    display: inline;
}

.submenu-dropdown{
    display: none;
    background-color: rgb(255, 103, 103);
    position: absolute;
    width: 100%;
    padding: 30px;
}

.menu-dropdown:hover .submenu-dropdown{
    display: block;
}

header{
    background-color: aliceblue;
}